@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
body {
  background-color: #111111;
  font-family: "Poppins";
  color: white;
}

body .realisations {
  margin-left: 10px;
}

body .realisations .box {
  border: 1px solid #272726;
  border-radius: 5px;
}

body .realisations .value {
  color: #FFB300;
  font-size: 19px;
  font-weight: bold;
}

body .realisations .title {
  text-transform: uppercase;
  font-size: 15px;
}

body .moi {
  color: #FFB300;
}

body .infos .title {
  font-size: 13px;
}

body .infos .value {
  font-size: 15px;
  font-weight: bold;
}

body .infos .btn {
  color: white;
  font-size: 10px;
  background-color: #272726;
  border-color: #FFB300;
  border-radius: 20px;
  font-weight: bold;
  height: 32px;
  width: 160px;
}

body .infos .btn span {
  float: right;
  margin-right: -14px;
}

body .infos .btn span img {
  margin-top: -6px;
  width: 30px;
}

body .infos .btn a {
  color: white;
  text-decoration: none;
}

@media only screen and (min-width: 401px) {
  body .infos {
    margin-left: 43px;
    margin: 52px;
  }
  body .infos .title {
    font-size: 19px;
    margin: 0px 5px;
  }
  body .infos .btn {
    margin-top: 33px;
    font-size: 15px;
    height: 42px;
    width: 200px;
  }
  body .infos .btn span {
    margin-right: -18px;
  }
  body .infos .btn span img {
    width: 40px;
  }
  body .infos .btn:hover {
    color: #272726;
    background-color: #FFB300;
  }
  body .chiffres .realisations .box {
    margin: 10px 20px;
  }
  body .chiffres .realisations .value {
    font-size: 50px;
    border-bottom: 2px solid white;
  }
  body .chiffres .realisations .title {
    font-size: 22px;
    padding-left: 65px;
  }
  body .competences .comp img {
    width: 120px;
    margin-left: 110px;
  }
  body .competences .comp h3 {
    margin-bottom: 35px;
    text-align: center;
  }
  body .competences .parcours-experiences img {
    margin: 10px 0px;
  }
  body .competences .parcours-experiences .item-text {
    margin-left: 20px;
  }
  body .competences .parcours-experiences .item-title {
    font-weight: bold;
  }
  body .competences .parcours-experiences .parcours {
    padding-left: 90px;
  }
  body .competences .parcours-experiences .experiences .item-title {
    font-size: 17px;
    margin: 10px 0px;
  }
  body .competences .parcours-experiences .experiences .item-title .date {
    font-weight: normal;
  }
}

@media only screen and (max-width: 400px) {
  body .competences .comp {
    margin-top: 15px;
    text-align: center;
  }
  body .competences .comp img {
    width: 90px;
  }
  body .competences .comp img h2 {
    margin-top: 5px;
  }
  body .competences .hr {
    color: #FFB300;
    position: relative;
    left: 30%;
    margin: 50px 10px;
  }
  body .competences .parcours-experiences .parcours-item, body .competences .parcours-experiences .experiences-item {
    margin-top: 20px;
  }
  body .competences .parcours-experiences .parcours-title, body .competences .parcours-experiences .experiences-title {
    font-weight: bold;
  }
  body .competences .parcours-experiences .parcours-desc, body .competences .parcours-experiences .experiences-desc {
    font-size: 12px;
  }
  body .competences .parcours-experiences .experiences-title .date {
    font-weight: normal;
  }
  body .competences .atouts .col {
    margin-top: 22Px;
  }
  body .competences .atouts .item {
    font-weight: bold;
  }
  body .competences .atouts .item .item-number {
    background-color: #272726;
    border: 3px solid #FFB300;
    font-size: 22px;
    width: 2px;
    margin: 5px 5px;
  }
  body .competences .atouts .item .item-title {
    font-size: 17px;
    margin-left: 10px;
    text-align: center;
  }
  body .competences .menu {
    position: -webkit-sticky;
    position: sticky;
  }
  body .competences .menu .col {
    border: 1px solid #272726;
    min-width: 57px;
    min-height: 57px;
    margin: 7px 8px;
    padding-top: 12px;
    border-radius: 50% 50%;
  }
  body .competences .menu .icone-about {
    color: white;
    background-color: #FFB300;
  }
}
/*# sourceMappingURL=about.css.map */