@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
$primary : #111111;
$secondary : #FFB300;
$thirst: #383232;
body{
    background-color: $primary;
    font-family: "Poppins";
}
@media only screen and (min-width: 401px){
    main{
        .accueil{
            height: 90%;
            margin-top: 20px;
            .accueil-content{
                height: 100%;
                .ma-photo{
                    background-image: url("../IMG/moi.JPG");
                    background-size: cover;
                    height: 100%;
                    border-radius: 25px;
                    box-shadow: -5px 2px 10px black;
                }
                .menu{
                    .row{
                        display: block;
                        align-items: center;
                        margin-top: 200px;

                        .col{
                            margin-top: 22px;
                            border: 1px solid $thirst;
                            max-width: 87px;
                            max-height: 87px;
                            padding: 15px 15px;
                            padding-top: 12px;
                            border-radius : 50% 50%;
                        }
                    }
                    .icone-home{
                        color:white;
                        background-color:$secondary ;
                    }
                    .icone-about, .icone-contact{
                        background-color: #000;
                    }
                }        
            }
            .blog-ma-photo{
                height: 100% !important;
            }
            .moi{
                margin-top: 130px;
            }
            .moi{
                .text-nom_prenom{
                    color: $secondary;
                    font-weight: bold;
                }
            }
        }
        color: white;
        height: 700px;
        background-image: url("../IMG/bg-accueil.png");
        border: 2px solid $secondary;
        background-size: 100%;
    }
}
.accueil{
    .ma-photo{
        // background-image: url("../IMG/moi.JPG");
        border: 10Px;
        min-height: 300px   ;
    }
    @media only screen and (max-width: 400px){
        .ma-photo{

            background-image: url("../IMG/moi.JPG");
            background-size: cover;
            border: 3px solid $thirst;
            border-radius: 50% 50%;
            max-width: 209px;
            left: 22px;
            min-height: 209px;
            margin: 12px 12px;
        }
        .text-nom_prenom{
            font-weight: bold;
            color: $secondary;
        }
        .text-domaine{
            color : white
        }
        .text-description{
            color: white
        }
        .menu{
            .col{
                border: 1px solid $thirst;
                min-width: 57px;
                min-height: 57px;
                margin: 7px 8px ;
                padding-top: 12px;
                border-radius : 50% 50%;
            }
            .icone-home{
                color:white;
                background-color:$secondary ;
            }
        }
    }
}