@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
$primary : #111111;
$secondary : #FFB300;
$thirst: #272726;
body{
    background-color: $primary;
    font-family: "Poppins";
    color:white;
}
.contact{
    .moi{
        color: $secondary;
    }
    h1{
        color: white;
    }
    @media only screen and (max-width: 400px){      
        .info{
            .icon{
                width: 28px;
            }
            .info-item{
                margin-top: 14px;
                font-size: 12px;
                span{
                    color: gray;
                }
                a{
                    color: white;
                    text-decoration: none;
                }
            }
        }
        & input{
            background-color: $thirst;
            border: 1px solid $secondary;
            margin-top: 22px;
            border-radius: 20px;
            color: white;
            width: 290px;
            &::placeholder{
                color: white;
                font-size: 13px;
                padding: 0px 20px;
            }
        }
        & textarea{
            @extend input
        }
        .btn{
            background-color:$secondary;
            color: white;
            margin-top: 10px;
            border-radius: 20px;
            font-size: 16px;
            font-weight: bold;
        }
        .menu{
            margin-top: 20px;
            .col{
                border: 1px solid $thirst;
                min-width: 57px;
                min-height: 57px;
                margin: 7px 8px ;
                padding-top: 12px;
                border-radius : 50% 50%;
            }
            .icone-contact{
                color:white;
                background-color:$secondary ;
            }
        }
        
    }
}